{% extends "layout.html" %} {% block title %}

<title>Jspect - Website Portfolio</title>

{% endblock %} {% block scripts %}

<script src="../static/script.js" defer></script>

{% endblock %} {% block body %}

<main>
    <h1>Contact</h1>
    <p>If you would like to get in touch, please message me on these sites:</p>
    <div class="social-links">
        <a href="mailto:combjam41@gmail.com">
            <img src="../static/logos/email.png" alt="Gmail Logo">
        </a>

        <a href="https://discord.com/users/543463494897631248" target="_blank">
            <img src="../static/logos/discord.png" alt="Discord Logo">
        </a>

        <a href="https://www.instagram.com/j4mes_comb1sta/" target="_blank">
            <img src="../static/logos/instagram.png" alt="Instagram Logo">
        </a>

        <a href="https://www.linkedin.com/in/james-ferdinand-combista-88039b316/" target="_blank">
            <img src="../static/logos/linkedin.png" alt="LinkedIn Logo">
        </a>
    </div>
    <img class="background" src="../static/wallpaper.jpg" alt="Jspect Background">
</main>

{% endblock %}
