{% extends "layout.html" %} {% block title %}

<title>Jspect - Website Portfolio</title>

{% endblock %} {% block scripts %}

<script src="../static/script.js" defer></script>

{% endblock %} {% block body %}

<main>
    <section class="pfp-container">
        <div>
            <h1>Jspect</h1>
            <h2>Music Producer / Video Game Music Arranger</h2>

            <div class="social-links">
                <a href="https://www.youtube.com/@jspect" target="_blank">
                    <img src="../static/logos/youtube.png" alt="YouTube Logo">
                </a>

                <a href="https://open.spotify.com/artist/0RW5aBDyFrVv264baYALkq?si=B_oDYOY6Rla2Bzab1wgj-g" target="_blank">
                    <img src="../static/logos/spotify.png" alt="Spotify Logo">
                </a>

                <a href="https://music.apple.com/us/artist/jspect/1725839861" target="_blank">
                    <img src="../static/logos/applemusic.png" alt="Apple Music Logo">
                </a>

                <a href="https://soundcloud.com/jems41-o" target="_blank">
                    <img src="../static/logos/soundcloud.png" alt="SoundCloud Logo">
                </a>

                <a href="https://music.youtube.com/@jspect" target="_blank">
                    <img src="../static/logos/youtubemusic.png" alt="YouTube Music Logo">
                </a>
            </div>
        </div>

        <div class="pfp-image">
            <img src="../static/jspect.png" alt="my YouTube pfp">
        </div>
    </section>
    <section class="biography">
        <p>Hi, I'm Jspect and welcome to my website portfolio!!</p>

        <p>
            I specialize in making video game remixes and original music in Logic Pro on
            my iPad.
        </p>

        <p>
            First starting making beats in GarageBand at the beginning of 2021,
            I shifted my focus from playing the piano professionally to composing.
            
            I've been self-taught by countless of YouTube tutorials, and found
            my passion (and popularity) in remixing Nintendo Soundtracks into
            energetic EDM tracks.
        </p>
        
        <p>
            Through my music making journey, I've 
            experimented with making Anime music, EDM genres, such as Drum & Bass,
            Dubstep, Futurecore, and Artcore, and video game music.
        </p>

        <p>
            Starting in 2025, I finally had the chance to make video game music
            for numerous different GameJams, such as GameJam Dingo 
            <a href="https://itch.io/jam/dingo-game-jam-2025/rate/3256447" target="_blank">2025</a> and
            <a href="https://itch.io/jam/dingo-game-jam-2026/rate/4189723" target="_blank">2026</a>, and 
            <a href="https://itch.io/jam/hackathon-pedagogique-udem-2026/rate/4338079" target="_blank">
            Hackathon Pédagogique FSÉ @ UdeM 2026</a>. It taught me how to spontaneously create 
            melodies that fit a given tone while working under a strict time limit.
        </p>

        <p>
            As of October 2026, I make music for our upcoming game with my game
            developer friend and continue to create content for my YouTube channel.
        </p>
    </section>
</main>

{% endblock %}
