<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css"
    />
    <link rel="stylesheet" href="https://newcss.net/theme/night.css" />
    <link
      href="{{ url_for('static', filename='style.css', v='8') }}"
      rel="stylesheet"
      type="text/css"
    />
    <script defer src="../static/script.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="{{ url_for('index') }}">Homepage</a></li>
          <li><a href="{{ url_for('portfolio') }}">Portfolio</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
        </ul>
      </nav>
    </header>
    {% block body %}{% endblock %}
    <footer>
        <p class="copyright-notice">
            <a href="https://github.com/jems41/music-portfolio" target="_blank" rel="noopener noreferrer">Website</a>
            made by
            <a href="https://github.com/jems41" target="_blank" rel="noopener noreferrer">me!</a>
        </p>
        <p class="site-credit">
            &copy; 2026 Jspect. All music and original content are owned by Jspect.
            If for some reason you want to use my music, just credit me or add the
            YouTube link in the credits [if there is]. You may not sell,
            relicense, or redistribute it for profit without my written permission.
        </p>
    </footer>
  </body>
</html>
