<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block title %}{% endblock %}
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1/new.min.css"
    />
    <link rel="stylesheet" href="https://newcss.net/theme/night.css" />
    <link href="../static/style.css" rel="stylesheet" type="text/css" />
    <script defer src="../static/script.js"></script>
    {% block scripts %}{% endblock %}
  </head>
  <header>
    <main>
    </main>
    <nav>
      <ul>
        <li>Home</a></li>
        <li>Portfolio</a></li>
        <li>Contact</a></li>
      </ul>
    </nav>
  </header>
  <body>
    {% block body %}{% endblock %}
  </body>
  {% block footer %}{% endblock %}
</html>