{% extends "layout.html" %} {% block title %}

<title>Jspect - Website Portfolio</title>

{% endblock %} {% block scripts %}

<script src="../static/script.js" defer></script>

{% endblock %} {% block body %}

<main>
    <h1>Portfolio</h1>
    <p>In each game listed, I'm the music composer and main sound effects designer.</p>
    <h2>GameJams</h2>
    <section class="gamejam-container">
        <div>
            <a href="https://itch.io/jam/hackathon-pedagogique-udem-2026/rate/4338079" target="_blank">
                <img src="../static/portfolio/gamejams/deckmots.png" alt="image of the game deckmots">
            </a>
            <h3>Deck Mots</h3>
            <p>"Duel Vocabulaire"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/duelvocabulaire.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Deck Mots"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/deckmots.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div>
            <a href="https://itch.io/jam/dingo-game-jam-2026/rate/4189723" target="_blank">
                <img src="../static/portfolio/gamejams/lastsignal.png" alt="image of the game lastsignal">
            </a>
            <h3>Last Signal</h3>
            <p>"Last Signal"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/lastsignal.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Victory"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/victory.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Defeat"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/defeat.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <div>
            <a href="https://itch.io/jam/dingo-game-jam-2025/rate/3256447" target="_blank">
                <img src="../static/portfolio/gamejams/frogleveling.png" alt="image of the game frogleveling">
            </a>
            <h3>Frog Leveling: Demo</h3>
            <p>"World Theme"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/worldtheme.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Spider Boss Fight"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/spiderbossfight.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Pause Music"</p>
            <audio controls>
                <source src="../static/portfolio/gamejams/pausemusic.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
        </div>
    </section>
    <h2>Ongoing Game Developments</h2>
    <section class="ongoing-container">
        <div class="description">
            <img src="../static/portfolio/currentgames/jorogumo.png" alt="cutscene in jorogumo" 
            width="560" height="315">
            <p><a href="https://github.com/alexder204/Jorogumo">Jorogumo</a> is a 2D horror puzzle narrative game inspired by the Japanese 
                folkloric monster the Jorogumo. It's currently being developed and drawn by 
                <a href="https://github.com/alexder204">alexder204</a>.</p>
        </div>
        <div>
            <h3>"Jorogumo"</h3>
            <p>"Bitstep"</p>
            <audio controls>
                <source src="../static/portfolio/currentgames/Bitstep.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Reflect"</p>
            <audio controls>
                <source src="../static/portfolio/currentgames/Reflect.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>"Jorogumo"</p>
            <audio controls>
                <source src="../static/portfolio/currentgames/Jorogumo.ogg" type="audio/ogg">
                Your browser does not support the audio element.
            </audio>
            <p>...and more to come!</p>
        </div>
    </section>
    <h2>Original Songs</h2>
    <section class="originals-container">
        <div>
            <h3>"Cryospect"</h3>
            <p>Released on September 7, 2025</p>
            <p>Genre: Artcore / Orchestral Drum & Bass</p>
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/7F3-nW-5My8"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div>
            <h3>
                <a href="https://distrokid.com/hyperfollow/jspect/resonate" target="_blank">"Resonate"</a>
            </h3>
            <p>Released on September 22, 2024</p>
            <p>Genre: Futurecore</p>
            <iframe
                width="560"
                height="315"
                src="https://www.youtube.com/embed/olRFs-iDrH0"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
        <div>
            <h3>
                <a href="https://distrokid.com/hyperfollow/jspect/spring" target="_blank">"Spring"</a>
            </h3>
            <p>Released on May 11, 2024</p>
            <p>Genre: J-POP / Vocaloid Instrumental</p>
            <iframe
                src="https://www.youtube.com/embed/hhatYsHw9gc"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>

        <div>
            <h3>"Eclipse"</h3>
            <p>Released on December 2, 2022</p>
            <p>Genre: Psytrance / Electro</p>
            <iframe
                src="https://www.youtube.com/embed/1ASb8XIsuBo"
                title="YouTube video player"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
            </iframe>
        </div>
    </section>
</main>

{% endblock %}
